@font-face {
  font-family: "aviny";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/aviny/aviny-700.eot");
  src: url("../fonts/aviny/aviny-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/aviny/aviny-700.woff2") format("woff2"),
    url("../fonts/aviny/aviny-700.woff") format("woff"),
    url("../fonts/aviny/aviny-700.ttf") format("truetype");
}

@font-face {
  font-family: "iransans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/iransans/IRANSansWeb\(FaNum\).eot");
  src: url("../fonts/iransans/IRANSansWeb\(FaNum\).eot?#iefix") format("embedded-opentype"),
    url("../fonts/iransans/IRANSansWeb\(FaNum\).woff2") format("woff2"),
    url("../fonts/iransans/IRANSansWeb\(FaNum\).woff") format("woff"),
    url("../fonts/iransans/IRANSansWeb\(FaNum\).ttf") format("truetype");
}

@font-face {
  font-family: "vazir";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/vazir/vazir-FD.eot");
  src: url("../fonts/vazir/vazir-FD.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vazir/vazir-FD.woff2") format("woff2"),
    url("../fonts/vazir/vazir-FD.woff") format("woff"),
    url("../fonts/vazir/vazir-FD.ttf") format("truetype");
}

/* reset Css */
* {
  margin: 0;
  padding: 0;
  font-family: IRANSansWeb;
  box-sizing: border-box;
  font-size: 13px;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

ul,
li {
  display: inline;
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

input,
textarea {
  border: none;
  outline: none;
}

a {
  color: #000;
  text-decoration: none;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 80px;
  background-color: rgba(0, 0, 0, 0.5);
}

video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -11;
  filter: brightness(0.6);
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* CSS Class */
.text-center {
  text-align: center;
}

.text-color-white {
  color: #fff;
}

.text-color-silver {
  color: #898989;
}

.mx-5 {
  margin: 0 5px;
}

.mx-10 {
  margin: 0 10px;
}

.mx-15 {
  margin: 0 15px;
}

.mx-20 {
  margin: 0 20px;
}

.my-5 {
  margin: 5px 0;
}

.my-10 {
  margin: 10px 0;
}

.my-15 {
  margin: 15px 0;
}

.my-20 {
  margin: 20px 0;
}

.text-color-green {
  color: #01bf81;
}

.font-medium {
  font-size: 1.3rem;
}

/* #menu {
  width: 100%;
  height: 80px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 50%);
  padding: 0 30px;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
  box-shadow: 0 8px 30px 0px #e3e3e36b;
}

#menu ul {
  text-align: left;
  padding: 10px 0;
}

#menu ul li {
  padding: 5px;
  margin: 5px;
} */
.nav-container {
  width: 100%;
  padding: 0 50px;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.nav-checkbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 10px 0;

}

.logo {
  text-decoration: none;
  color: #fff;
  padding-left: 10px;
}

.tab-nav {
  outline: none;
  display: none;
}

.tab-nav-label {
  display: none;
  color: #fff;
}

.tab-content {
  grid-column: 3;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab-content li {
  display: inline-block;
  padding-right: 10px;
}

.tab-content li a {
  text-decoration: none;
  color: #000;
  position: relative;
}


.cover {
  max-width: 700px;
  margin: 80px auto;
  padding-top: 100px;
}

.cover h1 {
  font-family: aviny;
  margin: 30px 0;
  font-size: 48px;
  font-weight: 100;
}

.cover p {
  font-size: 16px;
  margin: 30px 0;
}

.cover .more {
  background: linear-gradient(to bottom left, #01bf81, #41c3d3);
  color: #fff;
  margin: 20px 0;
  padding: 15px 35px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
}

.cover .more:hover {
  color: #fff;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  width: 90%;
}

.card {
  width: 250px;
  box-shadow: 0px 4px 30px 0px #e1e1e1b8;
  text-align: center;
  min-height: 350px;
  display: grid;
  grid-template-rows: 200px 50px;
  margin: 0 auto;
}

.card .head-card {
  margin-top: 90px;
}

.card .head-card span {
  color: rgb(1, 191, 129);
  font-size: 45px;
  padding: 20px 30px;
  background-color: #f0f0f05c;
  border-radius: 50%;
}

#introduce {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 100%;
  background-color: #111;
  background-image: url(../img/bg4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

#introduce::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #0b1520ad;
}

#introduce div.container {
  margin: 0 auto;
  color: #fff;
  z-index: 11;
  width: 75%;
  text-align: center;
}

#introduce div.container h1 {
  font-size: 34px;
  font-family: "aviny";
  margin: 0px 0px 35px 0px;
}

#introduce div.container p {
  font-size: 18px;
}

#aboutme .container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}

#picture__about {
  background-image: url(../img/20.jpg);
  background-size: cover;
  background-position: 38%;
  background-repeat: no-repeat;
}

.description {
  padding: 25px;
  margin: 25px;
}

#about div.container>.description>* {
  margin: 25px;
}

.description h6 {
  color: #34db98;
}

.description h2 {
  font-family: "aviny";
  font-size: 26px;
  color: #4c4c4c;
}

.description p {
  color: #5f5f5f;
  line-height: 2.4;
  font-size: 14px;
  text-align: justify;
}

.description>.container {
  margin: 25px;
}

.description>.container .title div {
  margin: 15px 3px;
  color: #3f3f3f;
  font-size: 16px;
}

.fa-check {
  color: #01bf81;
  margin: 0 5px;
  font-size: 12px;
}

.more {
  padding: 16px 40px;
  border-radius: 8px;
  box-shadow: 0px 6px 13px #ccccccbf;
  margin: 50px 0 0 0;
  position: relative;
  background-color: transparent;
  color: #fff;
  transition: 0.4s all ease;
}

.more:hover {
  color: #01bf81;
}

.hover-more::before {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom left, #01bf81, #41c3d3);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s all ease;
  z-index: -1;
  border-radius: 8px;
}

.hover-more:hover::before {
  width: 0;
  /* right: unset; */
  left: 0;
}

#achievements {
  width: 100%;
  background-image: linear-gradient(to bottom left, #01bf81, #41c3d3);
  padding: 100px 50px;
  text-align: center;
}

div#achievements .container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 30px;
}

div#achievements>div.container div>span {
  row-gap: 30px;
  font-size: 29px;
  padding: 40px 0;
  font-weight: 700;
  display: block;
}

.header__section {
  width: 100%;
  padding: 50px 0 100px 0;
}

.header__section .container {
  width: 100%;
}

.header__section .title {
  width: 40%;
  margin: 0px auto;
  text-align: center;
  padding: 70px 0;
}

.header__section .container>.title>h2 {
  font-family: "aviny";
  margin: 35px 0;
  font-size: 32px;
  position: relative;
  font-weight: 500;
  color: #000000e0;
}

.header__section .container>.title>h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 44%;
  height: 1px;
  width: 70px;
  background: #18ef1e;
}

.header__section .container>.title>h6 {
  color: #5f5f5f;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.3;
}

#carousel {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(5, 16%);
  column-gap: 50px;
  text-align: center;
  padding: 50px 15px;
  position: relative;
  margin: 0 auto;
}

#carousel .avatar {
  position: relative;
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

#carousel .avatar .image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
      hsla(160, 99%, 38%, 0.7),
      hsla(187, 62%, 54%, 0.7));
  color: #fff;
  display: flex;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.6s;
  border-radius: 50%;
}

#carousel .avatar .image__overlay:hover {
  opacity: 1;
  transition: opacity 0.6s;
}

#carousel .avatar img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 5px solid #ccc;
}

#blogs {
  background-color: #f9f9f9;
}

.items__blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
  grid-auto-flow: column;
  padding-right: 50px;
}

.item__blog {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 1px #dcdcdc7d, 0px 10px 20px 0px #dcdcdcab;
}

.picture__blog img {
  width: 300px;
  height: 300px;
}

.description__blog {
  display: grid;
  grid-template-rows: auto auto 100px auto;
  column-gap: 100px;
}

.body__blog {
  text-align: justify;
  padding: 0 0 0 45px;
}

.description__blog .title__blog a {
  font-size: 1.8rem;
}

.footer__blog a {
  color: #01bf81;
}

#massage {
  width: 80%;
  margin: 0 auto;
}

#massage input {
  border-radius: 3px;
  padding: 15px;
  margin: 20px;
  background-color: #dedede78;
  width: 300px;
}

textarea {
  background-color: #dedede78;
  resize: none;
  width: 91%;
  margin: 0px 21px;
  padding: 25px;
  border: none;
}

.send-massage-btn {
  padding: 16px 50px;
  margin: 10px 20px 0 0;
}

footer {
  width: 100%;
  background-color: #111;
}

#info {
  width: 90%;
  background-color: #151515;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  grid-template-rows: 120px;
}

.email {
  border-right: 1px solid #222;
  border-left: 1px solid #222;
}

.social_media {
  width: 80%;
  padding: 50px;
  margin: 0 auto;
}

.icon_social_media a {
  background: #151515;
  color: #999;
  font-size: 1.2rem;
  padding: 11px 11px;
}

.icon_social_media a:hover {
  background-color: #01bf81;
  color: #fff;
}

#info .box_information {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: right;
}

#info .box_information div {
  margin: 40px 20px;
}

.fa-phone-rotary,
.fa-envelope,
.fa-map {
  color: #01bf81;
  font-size: 2rem;
}

.box_information div p,
.social_media div>span {
  color: #8a8b8e;
  margin: 5px 0;
}

#backToTopButton {
  position: fixed;
  bottom: 29px;
  left: 29px;
  border-radius: 50%;
  background: linear-gradient(to bottom left, #01bf81, #41c3d3);
  padding: 11px 17px;
  font-size: 18px;
  color: #fff;
}

#preloader {
  width: 100%;
  height: 100vh;
  background-color: #111111;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: preloader 0.8s 4s infinite;
}

.dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  margin: 5px;
  animation: dots 1s linear infinite;
}

.dot:nth-child(1) {
  animation-delay: -0.8s;
}

.dot:nth-child(2) {
  animation-delay: -0.5s;
}

.dot:nth-child(3) {
  animation-delay: -0.2s;
}

@keyframes dots {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

@keyframes preloader {
  0% {
    opacity: 0;
    z-index: -1;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

@media screen and (max-width: 1100px) {
  #carousel {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    column-gap: 50px;
    padding: 50px 15px;
    position: relative;
    grid-auto-rows: 265px;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;

  }

  #massage input {
    border-radius: 3px;
    padding: 15px;
    margin: 20px;
    background-color: #dedede78;
    width: 91%;
  }
}

@media screen and (max-width: 900px) {
  .items__blog {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .picture__blog img {
    width: 100%;
  }

  #info {
    grid-template-columns: 100%;
  }

}

@media screen and (max-width: 768px) {
  .tab-nav-label {
    display: grid;
    cursor: pointer;
    grid-column: 3;
    padding-right: 10px;
    color: #000;
    font-size: 18px;
  }

  .tab-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/4;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
  }

  .nav-checkbox input:checked~.tab-content {
    max-height: 400px;
  }

  .tab-content li {
    padding: 10px 0;
  }

  #aboutme .container {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 50px;
  }

}

